title: CTP | Comercializadora de Plásticos Potosina
description: Catálogo de productos CTP
url: ""                # Déjalo vacío para GitHub Pages
baseurl: ""            # Si tu sitio vive en /repo, pon: "/NOMBRE_REPO"

markdown: kramdown
permalink: pretty

collections:
  products:
    output: true
    permalink: /productos/:name/

defaults:
  - scope:
      path: ""
    values:
      layout: default
  - scope:
      path: ""
      type: products
    values:
      layout: producto

exclude:
  - README.md
  - node_modules
  - vendor
