title: CTP | Comercializadora de Plásticos Potosina
description: Catálogo de productos CTP
url: "https://evolvtech-dev.github.io"
baseurl: "/catalogo-productos"

markdown: kramdown
permalink: pretty

collections:
  products:
    output: true
    permalink: /productos/:name/

defaults:
  - scope:
      path: ""
    values:
      layout: default
  - scope:
      path: ""
      type: products
    values:
      layout: product

exclude:
  - README.md
  - node_modules
  - vendor
