title: CTP | Comercializadora de Plásticos Potosina
description: Catálogo de productos CTP
url: ""
baseurl: ""   # si el sitio está en https://user.github.io/repo, pon: "/repo"

markdown: kramdown
permalink: pretty

collections:
  products:
    output: true
    permalink: /productos/:name/

defaults:
  - scope:
      path: ""
    values:
      layout: default
  - scope:
      path: ""
      type: products
    values:
      layout: product
